body {
    user-select: none;
}

.layui-icon {
    margin-right: 10px;
}

.layui-nav-child .layui-icon {
    margin-left: 10px;
}

.layui-body {
    overflow: hidden;
}

.layui-body iframe {
    width: 100%;
    height: 100%;
}